apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: stage

resources:
  - ../../base

images:
  - name: abhradippaul/nodejs-frontend-devops
    newTag: 0.0.1
  - name: abhradippaul/nodejs-backend-devops
    newTag: 0.0.1