apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-app
spec:
  template:
    spec:
      containers:
        - name: backend
          envFrom:
            - secretRef:
                name: dev-backend-secret
