replicaCount: 2

image:
  repository: abhradippaul/nodejs-frontend-devops
  pullPolicy: Always

serviceAccount:
  create: false
  
service:
  type: ClusterIP
  port: 80
  # nodePort: 32001

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 40m
    memory: 80Mi
  limits:
    cpu: 40m
    memory: 80Mi

livenessProbe:
  httpGet:
    path: /
    port: http
    initialDelaySeconds: 5
    periodSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
    initialDelaySeconds: 5
    periodSeconds: 5

configMap:
  file: |
      server {
        listen 80;
        server_name localhost;

        location /api/ {
            proxy_pass ${BACKEND_URL};
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-Proto $scheme;
        }

        location / {
            root /usr/share/nginx/html;
            index index.html index.htm;
            try_files $uri $uri/ /index.html;
        }
      }

volumes: 
- name: nginx-config
  configMap:
    name: nginx-config
    optional: false

volumeMounts:
- name: nginx-config
  mountPath: /etc/nginx/nginx.conf.template
  subPath: nginx.conf.template

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80