replicaCount: 2

image:
  repository: abhradippaul/nodejs-frontend-devops
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  
service:
  type: NodePort
  port: 80
  nodePort: 32001

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 20m
    memory: 40Mi
  limits:
    cpu: 40m
    memory: 80Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false

# volumes: 
# - name: frontend-secret
#   secret:
#     secretName: frontend-secret
#     optional: false

# volumeMounts:
# - name: frontend-secret
#   mountPath: "/app/.env"
#   readOnly: true

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80