replicaCount: 2

image:
  repository: abhradippaul/nodejs-backend-devops
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  
service:
  type: NodePort
  port: 80
  nodePort: 32000

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 40m
    memory: 80Mi
  limits:
    cpu: 80m
    memory: 160Mi

livenessProbe:
  httpGet:
    path: /healthy
    port: http
readinessProbe:
  httpGet:
    path: /healthy
    port: http

autoscaling:
  enabled: false

# volumes: 
# - name: backend-secret
#   secret:
#     secretName: backend-secret
#     optional: false

# volumeMounts:
# - name: backend-secret
#   mountPath: "/app/.env"
#   readOnly: true

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80