replicaCount: 2

image:
  repository: abhradippaul/nodejs-backend-devops
  pullPolicy: IfNotPresent

serviceAccount:
  create: false
  
service:
  type: ClusterIP
  port: 8000
  # nodePort: 32000

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 50m
    memory: 150Mi
  limits:
    cpu: 50m
    memory: 150Mi

livenessProbe:
  httpGet:
    path: /
    port: http
    initialDelaySeconds: 5
    periodSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
    initialDelaySeconds: 5
    periodSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80