replicaCount: 2

image:
  repository: nginx
  pullPolicy: IfNotPresent
  # tag: v1

secret:
  secret-file: |
    FRONTEND_URL="http://localhost:5173"

serviceAccount:
  create: false
  
service:
  type: NodePort
  port: 80
  nodePort: 32000

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 10m
    memory: 20Mi
  limits:
    cpu: 20m
    memory: 40Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false

volumes: 
- name: backend-secret
  secret:
    secretName: backend-secret
    optional: false

volumeMounts:
- name: backend-secret
  mountPath: "/app/.env"
  readOnly: true

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80