replicaCount: 2

image:
  repository: abhradippaul/nodejs-backend-devops
  pullPolicy: Always

serviceAccount:
  create: false
  
service:
  type: ClusterIP
  port: 8000
  
ingress:
  enabled: true
  className: "alb"

  annotations:
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
    alb.ingress.kubernetes.io/listen-ports: '[{"HTTP": 80}]'
    alb.ingress.kubernetes.io/group.name: multi-app-group

  hosts:
    ingressClassName: alb
    rules:
    - host: frontend.example.com
      paths:
        - path: /
          pathType: Prefix
          backend:
              service:
                name: frontend-app
                port:
                  number: 80

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 50m
    memory: 150Mi
  limits:
    cpu: 100m
    memory: 250Mi

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80
  targetCPUUtilizationPercentage: 80