replicaCount: 2

image:
  repository: abhradippaul/nodejs-backend
  pullPolicy: IfNotPresent
  tag: v1


serviceAccount:
  create: false
  
service:
  type: NodePort
  port: 80
  nodePort: 32000

ingress:
  enabled: false

httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 10m
    memory: 20Mi
  limits:
    cpu: 20m
    memory: 40Mi

livenessProbe:
  httpGet:
    path: /
    port: http
readinessProbe:
  httpGet:
    path: /
    port: http

autoscaling:
  enabled: false

volumes: 
- name: foo
  secret:
    secretName: mysecret
    optional: false

volumeMounts: []
- name: foo
  mountPath: "/etc/foo"
  readOnly: true

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 2
  targetMemoryUtilizationPercentage: 80