replicaCount: 2

image:
  repository: 739275445912.dkr.ecr.ap-south-1.amazonaws.com/abhradippaul/nodejs-backend-devops
  pullPolicy: Always

serviceAccount:
  create: false
  
service:
  type: ClusterIP
  port: 8000
  
ingress:
  enabled: false
  
httpRoute:
  enabled: false
  
resources: 
  requests:
    cpu: 50m
    memory: 150Mi
  limits:
    cpu: 100m
    memory: 250Mi

livenessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5
readinessProbe:
  httpGet:
    path: /
    port: http
  initialDelaySeconds: 5
  periodSeconds: 5

autoscaling:
  enabled: true
  minReplicas: 2
  maxReplicas: 5
  targetMemoryUtilizationPercentage: 80
  targetCPUUtilizationPercentage: 80