apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: backend-app
  # labels:
  #   helm.sh/chart: backend-0.1.0
  #   app.kubernetes.io/name: backend
  #   app.kubernetes.io/instance: backend-app
  #   app.kubernetes.io/version: "1.16.0"
  #   app.kubernetes.io/managed-by: Helm
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: backend-app
  minReplicas: 2
  maxReplicas: 5
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
    - type: Resource
      resource:
        name: memory
        target:
          type: Utilization
          averageUtilization: 60
