apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: prod
namePrefix: prod-

secretGenerator:
  - name: frontend-secret
    literals:
      - BACKEND_URL="http://prod-backend-app:8000"

secretGenerator:
  - name: backend-secret
    literals:
      - FRONTEND_URL="http://prod-frontend-app"

resources:
  - ../../base